@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./fonts/Inter-roman-latin.var.woff2") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("./fonts/Inter-italic-latin.var.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #e5e7eb;
  --fg: #ffffff;
  --gray: #d9d9d9;
  --darkGray: #6d6d6d;
}

body {
  font-family: "Inter var", sans-serif;
}

h1 {
  font-size: clamp(24px, 3vw, 36px);
  font-weight: 400;
}

h2 {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 400;
}

h3 {
  font-size: clamp(12px, 1.65vw, 16px);
  font-weight: 400;
}

h4 {
  font-size: clamp(12px, 1.65vw, 14px);
  font-weight: 500;
}
